<!--
=========================================================
* Argon Dashboard 2 PRO - v2.0.2
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-dashboard-pro
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="static/assets/img/favicon.png">
  <title>
    Fixco
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="static/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- CSS Files -->
  <link id="pagestyle" href="static/assets/css/argon-dashboard.css?v=2.0.2" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <style>
    @page { size: auto;  margin: 2mm; }
    .loader-position {
      display:block;
      width:70px;
      height:70px;
      color:#fff;
      position: fixed;
      right:41%;
      bottom:70%;
      border-radius:50%;
      line-height:80px;
      text-align:center;
      z-index:999;
    }
  </style>
  <script>
    function closeLoader(){
      $("#loaderShow").text("");
    }
    function clearLoader(){
      $("#loaderShow").text("");
    }
    function openLoader(){
      $("#loaderShow").append(
        '<div class="spinner-grow bg-danger" style="width: 4rem; height: 4rem; z-index: 2000;" role="status">'+
          '<span class="visually-hidden">Loading...</span>'+
        '</div>'
      );
    }
  </script>
</head>
  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}
<body class="bg-gradient-dark">
  <main class="main-content position-relative border-radius-lg">  


    {% block content %}{% endblock content %}

  </main>

  {% include "includes/scripts.html" %}

  <!-- Specific JS goes HERE --> 
  
  {% block javascripts %}{% endblock javascripts %}

  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="static/assets/js/argon-dashboard.min.js?v=2.0.2"></script>
  

</body>

</html>
