{% extends 'layouts/base.html' %}
{% block title %} Dashboard {% endblock title %}
{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
    <div class="m-4 row">
      <div class="col-12">
        <div class="card">
          <!-- Card header -->
          <div class="pb-0 card-header">
            <div class="d-lg-flex">
              <div>
                <h5 class="mb-0">Clientes</h5>
                <p class="mb-0 text-sm">
                 
                </p>
              </div>
              <div class="my-auto mt-4 ms-auto mt-lg-0">
                <div class="my-auto ms-auto">
                  <button class="me-2 mb-0 btn btn-dark" type="button" data-bs-toggle="modal" data-bs-target="#clientAdd" onclick="clearModal()">
                    <i class="fas fa-plus me-1"></i>
                    Nuevo cliente
                  </button>
                  <button type="button" class="me-2 mb-0 btn btn-white" data-bs-toggle="modal" data-bs-target="#import">
                    <svg width="14" height="15" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M3 17.5C3 16.9477 3.44772 16.5 4 16.5H16C16.5523 16.5 17 16.9477 17 17.5C17 18.0523 16.5523 18.5 16 18.5H4C3.44772 18.5 3 18.0523 3 17.5ZM6.29289 9.79289C6.68342 9.40237 7.31658 9.40237 7.70711 9.79289L9 11.0858V3.5C9 2.94772 9.44771 2.5 10 2.5C10.5523 2.5 11 2.94771 11 3.5V11.0858L12.2929 9.79289C12.6834 9.40237 13.3166 9.40237 13.7071 9.79289C14.0976 10.1834 14.0976 10.8166 13.7071 11.2071L10.7071 14.2071C10.5196 14.3946 10.2652 14.5 10 14.5C9.73478 14.5 9.48043 14.3946 9.29289 14.2071L6.29289 11.2071C5.90237 10.8166 5.90237 10.1834 6.29289 9.79289Z" fill="#111827" />
                    </svg>Import
                  </button>
                  <button class="mt-1 mb-0 btn btn-white export mt-sm-0" data-type="csv" type="button" name="button">
                    <svg width="14" height="15" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M3 17.5C3 16.9477 3.44772 16.5 4 16.5H16C16.5523 16.5 17 16.9477 17 17.5C17 18.0523 16.5523 18.5 16 18.5H4C3.44772 18.5 3 18.0523 3 17.5ZM6.29289 7.20711C5.90237 6.81658 5.90237 6.18342 6.29289 5.79289L9.29289 2.79289C9.48043 2.60536 9.73478 2.5 10 2.5C10.2652 2.5 10.5196 2.60536 10.7071 2.79289L13.7071 5.79289C14.0976 6.18342 14.0976 6.81658 13.7071 7.20711C13.3166 7.59763 12.6834 7.59763 12.2929 7.20711L11 5.91421V13.5C11 14.0523 10.5523 14.5 10 14.5C9.44771 14.5 9 14.0523 9 13.5V5.91421L7.70711 7.20711C7.31658 7.59763 6.68342 7.59763 6.29289 7.20711Z" fill="#111827" />
                    </svg>Export
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="px-0 pb-0 card-body">
            <div class="table-responsive">
              <table class="table table-flush" id="client-list">
                <thead class="thead-light">
                  <tr>
                    <th class="text-xs">Nombre</th>
                    <th class="text-xs">Celular</th>
                    <th class="text-xs">DNI</th>
                    <th class="text-xs">Direccion</th>
                    <th class="text-xs">Operador Fibra</th>
                    <th class="text-xs">Operador Movil</th>
                    <th class="text-xs">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for c in clients %}
                  <tr>
                    <td>
                      <div class="d-flex">
                        <div class="my-auto form-check">
                          <input class="form-check-input" type="checkbox" id="customCheck1">
                        </div>
                        <h6 class="my-auto ms-3">{{c.name}} {{c.lastname}}</h6>
                      </div>
                    </td>
                    <td class="text-sm">{{c.phone}}</td>
                    <td class="text-sm">{{c.dni}}</td>
                    <td class="text-sm">{{c.address}}</td>
                    <td class="text-sm">{{c.fibra.operator}}</td>
                    <td class="text-sm">{{c.movil.operator}}</td>
                    <td class="text-sm">
                      <a href="#" onclick="viewModal('{{u.user.pk}}','{{u.user.first_name}}','{{u.user.last_name}}','{{u.phone}}','{{u.user.email}}','{{u.user.username}}','{{u.permission.pk}}','{{u.active}}', false)" data-bs-toggle="tooltip" data-bs-placement="left" title="Ver Cliente">
                        <i class="fas fa-eye text-dark"></i>
                      </a>
                      <a href="#" onclick="viewModal('{{u.user.pk}}','{{u.user.first_name}}','{{u.user.last_name}}','{{u.phone}}','{{u.user.email}}','{{u.user.username}}','{{u.permission.pk}}','{{u.active}}')" class="mx-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Editar Cliente">
                        <i class="fas fa-user-edit text-dark"></i>
                      </a>
                      <a href="javascript:;" onclick="activeAlert('{{u.user.pk}}')" data-bs-toggle="tooltip" data-bs-placement="left" title="Eliminar Cliente">
                        <i class="fas fa-trash text-dark"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th class="text-xs">Nombre</th>
                    <th class="text-xs">Celular</th>
                    <th class="text-xs">DNI</th>
                    <th class="text-xs">Direccion</th>
                    <th class="text-xs">Operador Fibra</th>
                    <th class="text-xs">Operador Movil</th>
                    <th class="text-xs">Action</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modals-->

    <div class="modal fade" id="import" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog mt-lg-10">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Import CSV</h5>
            <i class="fas fa-upload ms-3"></i>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>You can browse your computer for a file.</p>
            <input type="text" placeholder="Browse file..." class="mb-3 form-control">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="importCheck" checked="">
              <label class="custom-control-label" for="importCheck">I accept the terms and conditions</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white btn-sm" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-dark btn-sm">Upload</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="clientAdd" data-backdrop="static">
      <div class="modal-dialog mt-lg-10 modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Agregar Cliente</h5>
            <i class="fas fa-upload ms-3"></i>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" action="create-client" id="frm" enctype="multipart/form-data">{% csrf_token %}
              <div class="modal-body">
                  <div class="row">
                    <div class="col-12 col-sm-4">
                      <div class="card bg-info">
                        <div class="row card-body">
                          <h6>Datos basicos</h6>
                          <div class="form-group col-6">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control form-control-sm" required id="name" name="name">
                          </div>
                          <div class="form-group col-6">
                              <label for="lastname">Apellido</label>
                              <input type="text" class="form-control form-control-sm" required id="lastname" name="lastname">
                          </div>
                          <div class="form-group col-6">
                            <label for="dni">DNI</label>
                            <input type="text" class="form-control form-control-sm" required id="dni" name="dni">
                          </div>
                          <div class="form-group col-6">
                            <label for="phone">Telefono</label>
                            <input type="text" class="form-control form-control-sm" required id="phone" name="phone">
                          </div>
                          <div class="form-group col-12">
                            <label for="address">Direccion</label>
                            <input type="text" class="form-control form-control-sm" required id="address" name="address">
                          </div>
                          <div class="form-group col-6">
                              <label for="locality">Localidad</label>
                              <input type="text" class="form-control form-control-sm" required id="locality" name="locality">
                          </div>
                          <div class="form-group col-6">
                              <label for="province">Provincia</label>
                              <input type="text" class="form-control form-control-sm" required id="province" name="province">
                          </div>
                          <div class="form-group col-6">
                            <label for="code_postal">Codigo postal</label>
                            <input type="text" class="form-control form-control-sm" required id="code_postal" name="code_postal">
                          </div>
                          <div class="form-group col-6">
                            <label for="bank">Cuenta bancaria</label>
                            <input type="text" class="form-control form-control-sm" required id="bank" name="bank">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-8">
                      <div class="card bg-success">
                        <div class="row card-body">

                          <h6>Convergente Fibra</h6>
                          <div class="form-group col-4">
                            <label for="fibraName">Nombre del titular</label>
                            <input type="text" class="form-control form-control-sm" required id="fibraName" name="fibraName">
                          </div>
                          <div class="form-group col-4">
                              <label for="fibraLastname">Apellido del titular</label>
                              <input type="text" class="form-control form-control-sm" required id="fibraLastname" name="fibraLastname">
                          </div>
                          <div class="form-group col-4">
                              <label for="fibraDni">DNI</label>
                              <input type="text" class="form-control form-control-sm" required id="fibraDni" name="fibraDni">
                          </div>
                          <div class="form-group col-4">
                            <label for="fibraPhone">Telefono</label>
                            <input type="text" class="form-control form-control-sm" required id="fibraPhone" name="fibraPhone">
                          </div>
                          <div class="form-group col-4">
                            <label for="fibraOperator">Operador</label>
                            <input type="text" class="form-control form-control-sm" required id="fibraOperator" name="fibraOperator">
                          </div>
                          <div class="form-group col-4">
                            <label for="fibraChangeTitle">Cambio de titular</label>
                            <input type="text" class="form-control form-control-sm" required id="fibraChangeTitle" name="fibraChangeTitle">
                          </div>
                          <div class="form-group col-4">
                            <label for="fibraNewTitleDni">Dni de nuevo titular</label>
                            <input type="text" class="form-control form-control-sm" required id="fibraNewTitleDni" name="fibraNewTitleDni">
                          </div>
                          <div class="form-group col-8">
                            <label for="fibraTipo">Tipo de fibra</label>
                            <input type="text" class="form-control form-control-sm" required id="fibraTipo" name="fibraTipo">
                          </div>
                        </div>
                      </div>
                      <div class="card bg-success mt-4">
                        <div class="row card-body">
                          <h6>Convergente Movil</h6>
                          <div class="form-group col-4">
                            <label for="movilName">Nombre del titular</label>
                            <input type="text" class="form-control form-control-sm" required id="movilName" name="movilName">
                          </div>
                          <div class="form-group col-4">
                              <label for="movilLastname">Apellido del titular</label>
                              <input type="text" class="form-control form-control-sm" required id="movilLastname" name="movilLastname">
                          </div>
                          <div class="form-group col-4">
                              <label for="movilDni">DNI</label>
                              <input type="text" class="form-control form-control-sm" required id="movilDni" name="movilDni">
                          </div>
                          <div class="form-group col-4">
                            <label for="movilPhone">Telefono</label>
                            <input type="text" class="form-control form-control-sm" required id="movilPhone" name="movilPhone">
                          </div>
                          <div class="form-group col-4">
                            <label for="movilOperator">Operador</label>
                            <input type="text" class="form-control form-control-sm" required id="movilOperator" name="movilOperator">
                          </div>
                          <div class="form-group col-4">
                            <label for="movilChangeTitle">Cambio de titular</label>
                            <input type="text" class="form-control form-control-sm" required id="movilChangeTitle" name="movilChangeTitle">
                          </div>
                          <div class="form-group col-4">
                            <label for="movilNewTitleDni">Dni de nuevo titular</label>
                            <input type="text" class="form-control form-control-sm" required id="movilNewTitleDni" name="movilNewTitleDni">
                          </div>
                          <div class="form-group col-8">
                            <label for="movilProduct">Producto movil</label>
                            <input type="text" class="form-control form-control-sm" required id="movilProduct" name="movilProduct">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <input type="hidden" name="pk" id="pk" value="0">
                  <button type="button" class="btn btn-white btn-sm" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-dark btn-sm" id="buttonSave">Guardar</button>
              </div>
          </form>
        </div>
      </div>
    </div>

    {% include 'includes/scripts.html' %}
    <script>
        if (document.getElementById('client-list')) {
          const dataTableSearch = new simpleDatatables.DataTable("#client-list", {
            searchable: true,
            fixedHeight: false,
            perPage: 7
          });
    
          document.querySelectorAll(".export").forEach(function(el) {
            el.addEventListener("click", function(e) {
              var type = el.dataset.type;
    
              var data = {
                type: type,
                filename: "soft-ui-" + type,
              };
    
              if (type === "csv") {
                data.columnDelimiter = "|";
              }
    
              dataTableSearch.export(data);
            });
          });
        };
        function activeAlert(pk_user){
        Swal.fire({
        title: 'Eliminar Usuario?',
        text: "!Esta seguro de eliminar este usuario!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'si, Eliminar!',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.isConfirmed){
          window.location.href = "/delete-user?pk="+pk_user;
        }
      })
    }
    modalCalendarClick = new bootstrap.Modal(document.getElementById('userAdd'));
    function viewModal(pk_user, name, lastname, phone, email, username, permission, state, edit=true){
        document.getElementById("pk").value = pk_user;
        document.getElementById("name").value = name;
        document.getElementById("lastname").value = lastname;
        document.getElementById("phone").value = phone;
        document.getElementById("email").value = email;
        document.getElementById("username").value = username;
        document.getElementById("permission").value = permission;

        if (state == "True"){
            $("#state").prop("checked", true);
        }else{
            $("#state").prop("checked", false);
        }
        if (edit){
            document.getElementById("buttonSave").classList.remove('d-none');
            document.getElementById("buttonSave").textContent = "Modificar";
            document.getElementById("password").required = false;
            document.getElementById("file").required = false;
        }else{
            document.getElementById("buttonSave").classList.add('d-none');
        }
        modalCalendarClick.show();
    }
    function clearModal(){
        document.getElementById("frm").reset();
        document.getElementById("pk").value = "0";
        document.getElementById("buttonSave").textContent = "Guardar";
        document.getElementById("password").required = true;
        document.getElementById("file").required = true;
    }
      </script>

{% endblock content %}
  
<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}