{% extends 'layouts/base.html' %}
{% block title %} Dashboard {% endblock title %}
{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div class="m-4 row">
    <div class="col-12">
      <div class="card">
        <div class="pb-4 card-body">
            <div class="d-lg-flex">
              <div>
                <h5 class="mb-4">Informacion personal</h5>
                <p class="mb-0 text-sm">
                 
                </p>
              </div>
              <div class="my-auto mt-4 ms-auto mt-lg-0">
                <div class="my-auto ms-auto">
                  <button class="me-2 mb-0 btn btn-dark" type="button" onclick="activeProcess()">
                    <i class="fas fa-key me-1"></i>
                    Activar extraccion
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-3">
                    <div class="row gx-4">
                        <div class="col-auto">
                          <div class="avatar avatar-xl position-relative">
                            <img src="../../../static/assets/img/bruce-mars.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                          </div>
                        </div>
                        <div class="col-auto my-auto">
                          <div class="h-100">
                            <h5 class="mb-1">
                              {{request.user.username}}
                            </h5>
                            <p class="mb-0 font-weight-bold text-sm">
                              Usuario - {{request.user.username}}
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-1 text-start">
                    <p>Email:</p>
                    <p>Telefono:</p>
                </div>
                <div class="col-12 col-sm-4 text-start">
                    <p>{{request.user.email}}</p>
                    <p></p>
                </div>
                <div class="col-12 col-sm-3">
                    {% if not user_info.active %}
                        <span class="badge badge-success badge-sm">Activo</span>
                    {% else %}
                        <span class="badge badge-danger badge-sm">No activo</span>
                    {% endif %}
                </div>
            </div>
          </div>
      </div>
    </div>
</div>

<div class="m-4 row">
    <div class="col-12">
      <div class="card">
        <!-- Card header -->
        <div class="pb-0 card-header">
          <div class="d-lg-flex">
            <div>
              <h5 class="mb-0">Bookings</h5>
              <p class="mb-0 text-sm">
               
              </p>
            </div>
            <div class="my-auto mt-4 ms-auto mt-lg-0">
              <div class="my-auto ms-auto">
                <!-- <button class="me-2 mb-0 btn btn-dark" type="button" data-bs-toggle="modal" data-bs-target="#userAdd" onclick="clearModal()">
                  <i class="fas fa-plus me-1"></i>
                  Nuevo Booking
                </button>
                <button type="button" class="me-2 mb-0 btn btn-white" data-bs-toggle="modal" data-bs-target="#import">
                  <svg width="14" height="15" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3 17.5C3 16.9477 3.44772 16.5 4 16.5H16C16.5523 16.5 17 16.9477 17 17.5C17 18.0523 16.5523 18.5 16 18.5H4C3.44772 18.5 3 18.0523 3 17.5ZM6.29289 9.79289C6.68342 9.40237 7.31658 9.40237 7.70711 9.79289L9 11.0858V3.5C9 2.94772 9.44771 2.5 10 2.5C10.5523 2.5 11 2.94771 11 3.5V11.0858L12.2929 9.79289C12.6834 9.40237 13.3166 9.40237 13.7071 9.79289C14.0976 10.1834 14.0976 10.8166 13.7071 11.2071L10.7071 14.2071C10.5196 14.3946 10.2652 14.5 10 14.5C9.73478 14.5 9.48043 14.3946 9.29289 14.2071L6.29289 11.2071C5.90237 10.8166 5.90237 10.1834 6.29289 9.79289Z" fill="#111827" />
                  </svg>Import
                </button> -->
                <button class="mt-1 mb-0 btn btn-white export mt-sm-0" data-type="csv" type="button" name="button">
                  <svg width="14" height="15" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3 17.5C3 16.9477 3.44772 16.5 4 16.5H16C16.5523 16.5 17 16.9477 17 17.5C17 18.0523 16.5523 18.5 16 18.5H4C3.44772 18.5 3 18.0523 3 17.5ZM6.29289 7.20711C5.90237 6.81658 5.90237 6.18342 6.29289 5.79289L9.29289 2.79289C9.48043 2.60536 9.73478 2.5 10 2.5C10.2652 2.5 10.5196 2.60536 10.7071 2.79289L13.7071 5.79289C14.0976 6.18342 14.0976 6.81658 13.7071 7.20711C13.3166 7.59763 12.6834 7.59763 12.2929 7.20711L11 5.91421V13.5C11 14.0523 10.5523 14.5 10 14.5C9.44771 14.5 9 14.0523 9 13.5V5.91421L7.70711 7.20711C7.31658 7.59763 6.68342 7.59763 6.29289 7.20711Z" fill="#111827" />
                  </svg>Export
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="px-0 pb-0 card-body">
          <div class="table-responsive">
            <table class="table table-flush table-sm" id="client-list">
              <thead class="thead-light">
                <tr>
                  <th class="text-xs">Fecha</th>
                  <th class="text-xs">Tipo</th>
                </tr>
              </thead>
              <tbody>
                {% for date, value in bookings.items %}
                <tr>
                  <td class="text-sm bg-success text-white text-center">
                    {{date}}
                    </br>
                    {{value.day}}
                  </td>
                  <td>
                    <table class="table table-flush bg-info text-white table-sm">
                      <!-- <thead class="thead-light">
                        <tr>
                          <th class="text-xs"></th>
                          <th class="text-xs text-white">Precio en base a nombre de hotel</th>
                          <th class="text-xs text-white">H. DSP. (4*)</th>
                          <th class="text-xs text-white">Precio hotel 3*</th>
                          <th class="text-xs text-white">Precio hotel 4*</th>
                          <th class="text-xs text-white">Media</th>
                        </tr>
                      </thead> -->
                      <tbody>
                        <tr class="tr" data-bs-toggle="tooltip" data-bs-placement="left" title="Ir a lista de dobles" onclick="window.location.href='/booking?date={{date}}&occupancy=2'">
                          <td class="text-sm">
                            <h2 class="text-white text-center">{% if "priceSuitesFeria" in value.2 %}{{value.2.priceSuitesFeria}}{% else %}-{% endif %}</h2></br>
                            <h2 class="text-white text-center">{% if "suiteFeria" in value.2 %}{{value.2.suiteFeria}}{% else %}-{% endif %}</h2>
                          </td>
                          
                          <td class="text-sm bg-warning text-white">
                            <table class="table table-flush text-white table-sm">
                              <thead class="thead-light">
                                <tr>
                                  <th class="text-xs text-white">TOR</th>
                                  <th class="text-xs text-white">ZEN</th>
                                  <th class="text-xs text-white">ALC</th>
                                  <th class="text-xs text-white">OSU</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="text-sm">
                                    <h3>999</h3></br>
                                    <h5>0</h5>
                                  </td>
                                  <td class="text-sm">
                                    <h3>999</h3></br>
                                    <h5>0</h5>
                                  </td>
                                  <td class="text-sm">
                                    <h3>999</h3></br>
                                    <h5>0</h5>
                                  </td>
                                  <td class="text-sm">
                                    <h3>999</h3></br>
                                    <h5>0</h5>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td class="text-sm"><h2 class="text-white">{{value.2.total_search}}</h2></td>
                          <td class="text-sm">
                            <table class="table table-flush text-white table-sm">
                              <tbody>
                                <tr>
                                  <td class="text-sm bg-success">
                                    <h2>
                                      {{value.2.3.0.price}}
                                    </h2>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">
                                      {{value.2.3.1.price}}
                                    </h5>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">
                                      {{value.2.3.2.price}}
                                    </h5>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">
                                      {{value.2.3.3.price}}
                                    </h5>
                                  </td>
                                  <td class="text-lg bg-white">
                                    <h3>{{value.2.3.4.price}}</h3>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td class="text-sm">
                            <table class="table table-flush text-white table-sm">
                              <tbody>
                                <tr>
                                  <td class="text-sm bg-success">
                                    <h3>{{value.2.4.0.price}}</h3>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">{{value.2.4.1.price}}</h5>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">{{value.2.4.2.price}}</h5>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">{{value.2.4.3.price}}</h5>
                                  </td>
                                  <td class="text-sm bg-white">
                                    <h3>{{value.2.4.4.price}}</h3>
                                  </td>
                                  <td class="bg-secondary">
                                    <h3 class="text-white">{{value.2.4.9.price}}</h3>
                                  </td>
                                  <td class="bg-primary">
                                    <h3 class="text-white">{{value.2.4.14.price}}</h3>
                                  </td>
                                  <td class="bg-warning">
                                    <h3 class="text-white">{{value.2.4.19.price}}</h3>
                                  </td>
                                  <td class="bg-danger">
                                    <h3 class="text-white">{{value.2.4.24.price}}</h3>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td class="text-sm"><h3 class="text-white">{% widthratio value.2.media_total value.2.media_cant 1 %}</h3></td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table table-flush bg-dark text-white table-sm">
                      <!-- <thead class="thead-light">
                        <tr>
                          <th class="text-xs"></th>
                          <th class="text-xs text-white">Precio en base a nombre de hotel</th>
                          <th class="text-xs text-white">H. DSP. (4*)</th>
                          <th class="text-xs text-white">Precio hotel 3*</th>
                          <th class="text-xs text-white">Precio hotel 4*</th>
                          <th class="text-xs text-white">Media</th>
                        </tr>
                      </thead> -->
                      <tbody>
                        <tr class="tr" data-bs-toggle="tooltip" data-bs-placement="left" title="Ir a lista de triples" onclick="window.location.href='/booking?date={{date}}&occupancy=3'">
                          <td class="text-sm">
                            <h2 class="text-white text-center">{% if "priceSuitesFeria" in value.3 %}{{value.3.priceSuitesFeria}}{% else %}-{% endif %}</h2></br>
                            <h2 class="text-white text-center">{% if "suiteFeria" in value.3 %}{{value.3.suiteFeria}}{% else %}-{% endif %}</h2>
                          </td>
                          <td class="text-sm bg-warning text-white">
                            <table class="table table-flush text-white table-sm">
                              <thead class="thead-light">
                                <tr>
                                  <th class="text-xs text-white">TOR</th>
                                  <th class="text-xs text-white">BAR</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="text-sm">
                                    <h3>999</h3></br>
                                    <h5>0</h5>
                                  </td>
                                  <td class="text-sm">
                                    <h3>999</h3></br>
                                    <h5>0</h5>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td class="text-sm"><h2 class="text-white">{{value.3.total_search}}</h2></td>
                          <td class="text-sm">
                            <table class="table table-flush text-white table-sm">

                              <tbody>
                                <tr>
                                  <td class="text-sm bg-success">
                                    <h2>{{value.3.3.0.price}}</h2>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">{{value.3.3.1.price}}</h5>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">{{value.3.3.2.price}}</h5>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">{{value.3.3.3.price}}</h5>
                                  </td>
                                  <td class="text-sm bg-white">
                                    <h3>{{value.3.3.4.price}}</h3>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td class="text-sm">
                            <table class="table table-flush text-white table-sm">
                              <tbody>
                                <tr>
                                  <td class="text-sm bg-success">
                                    <h3>{{value.3.4.0.price}}</h3>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">{{value.3.4.1.price}}</h5>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">{{value.3.4.2.price}}</h5>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">{{value.3.4.3.price}}</h5>
                                  </td>
                                  <td class="text-sm bg-white">
                                    <h3>{{value.3.4.4.price}}</h3>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h3 class="text-white">{{value.3.4.9.price}}</h3>
                                  </td>
                                </tr>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                          <td class="text-sm"><h3 class="text-white">{% widthratio value.3.media_total value.3.media_cant 1 %}</h3></td>
                        </tr>
                      </tbody>
                    </table>

                    <table class="table table-flush bg-danger text-white table-sm">
                      <!-- <thead class="thead-light">
                        <tr>
                          <th class="text-xs"></th>
                          <th class="text-xs text-white">Precio en base a nombre de hotel</th>
                          <th class="text-xs text-white">H. DSP. (4*)</th>
                          <th class="text-xs text-white">Precio hotel 3*</th>
                          <th class="text-xs text-white">Precio hotel 4*</th>
                          <th class="text-xs text-white">Media</th>
                        </tr>
                      </thead> -->
                      <tbody>
                        <tr class="tr" data-bs-toggle="tooltip" data-bs-placement="left" title="Ir a lista de suite" onclick="window.location.href='/booking?date={{date}}&occupancy=5'">
                          <td class="text-sm">
                            <h2 class="text-white text-center">-</h2></br>
                            <h2 class="text-white text-center">-</h2>
                          </td>
                          <td class="text-sm bg-warning text-white">
                            <table class="table table-flush text-white table-sm">
                              <thead class="thead-light">
                                <tr>
                                  <th class="text-xs text-white">AZA</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="text-sm">
                                    <h3>999</h3></br>
                                    <h5>0</h5>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td class="text-sm"><h2 class="text-white">{{value.5.total_search}}</h2></td>
                          <td class="text-sm">
                            <table class="table table-flush text-white table-sm">
                              <tbody>
                                <tr>
                                  <td class="text-sm bg-success">
                                    <h2>{{value.5.3.0.price}}</h2>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">{{value.5.3.1.price}}</h5>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">{{value.5.3.2.price}}</h5>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">{{value.5.3.3.price}}</h5>
                                  </td>
                                  <td class="text-sm  bg-white">
                                    <h3>{{value.5.3.4.price}}</h3>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td class="text-sm">
                            <table class="table table-flush text-white table-sm">
                              <tbody>
                                <tr>
                                  <td class="text-sm bg-success">
                                    <h3>{{value.5.4.0.price}}</h3>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">{{value.5.4.1.price}}</h5>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">{{value.5.4.2.price}}</h5>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h5 class="text-white">{{value.5.4.3.price}}</h5>
                                  </td>
                                  <td class="text-sm bg-white">
                                    <h3>{{value.5.4.4.price}}</h3>
                                  </td>
                                  <td class="text-sm bg-secondary">
                                    <h3 class="text-white">{{value.5.4.9.price}}</h3>
                                  </td>
                                </tr>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                          <td class="text-sm"><h3 class="text-white">{% widthratio value.5.media_total value.5.media_cant 1 %}</h3></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th class="text-xs">Fecha</th>
                  <th class="text-xs"></th>
                </tr>
              </tfoot>
            </table>
            <!-- <table class="table table-flush" id="client-list">
              <thead class="thead-light">
                <tr>
                  <th class="text-xs">Title</th>
                  <th class="text-xs">Address</th>
                  <th class="text-xs">Start</th>
                  <th class="text-xs">Update</th>
                  <th class="text-xs">Occupancy</th>
                  <th class="text-xs">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for b in bookings %}
                <tr>
                  <td>
                    <div class="row align-items-center">
                        <div class="col-auto d-flex align-items-center">
                          <a href="javascript:;" class="avatar">
                            <img class="border-radius-lg" alt="Image placeholder" src="{{b.img}}">
                          </a>
                        </div>
                        <div class="col ml-2">
                          <h6 class="mb-0">
                            <a href="javascript:;">{{b.title}}</a>
                          </h6>
                          {% if not u.active %}
                            <span class="badge badge-success badge-sm">Activo</span>
                          {% else %}
                            <span class="badge badge-danger badge-sm">No activo</span>
                          {% endif %}
                        </div>
                    </div>
                  </td>
                  <td class="text-sm">{{b.address}}</td>
                  <td class="text-sm">{{b.start}}</td>
                  <td class="text-sm">{{b.updated}}</td>
                  <td class="text-sm">{{b.occupancy}}</td>
                  <td class="text-sm">
                    <a href="#" onclick="viewModal()" data-bs-toggle="tooltip" data-bs-placement="left" title="Ver Disponibilidad">
                      <i class="fas fa-eye text-dark"></i>
                    </a>
                    <a href="#" onclick="viewModal()" class="mx-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Editar Disponibilidad">
                      <i class="fas fa-user-edit text-dark"></i>
                    </a>
                    <a href="javascript:;" onclick="activeAlert('{{u.user.pk}}')" data-bs-toggle="tooltip" data-bs-placement="left" title="Eliminar Disponibilidad">
                      <i class="fas fa-trash text-dark"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th class="text-xs">Title</th>
                  <th class="text-xs">Address</th>
                  <th class="text-xs">Start</th>
                  <th class="text-xs">Update</th>
                  <th class="text-xs">Occupancy</th>
                  <th class="text-xs">Action</th>
                </tr>
              </tfoot>
            </table> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="userAdd" data-backdrop="static">
    <div class="modal-dialog mt-lg-10">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Agregar Usuario</h5>
          <i class="fas fa-upload ms-3"></i>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="create-booking" id="frm" enctype="multipart/form-data">{% csrf_token %}
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-6">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control form-control-sm" required id="name" name="name">
                    </div>
                    <div class="form-group col-6">
                        <label for="lastname">Apellido</label>
                        <input type="text" class="form-control form-control-sm" required id="lastname" name="lastname">
                    </div>
                    <div class="form-group col-6">
                        <label for="phone">Telefono</label>
                        <input type="text" class="form-control form-control-sm" required id="phone" name="phone">
                    </div>
                    <div class="form-group col-6">
                        <label for="email">Correo</label>
                        <input type="email" class="form-control form-control-sm" required id="email" name="email">
                    </div>
                    <div class="form-group col-6">
                        <label for="username">Usuario</label>
                        <input type="text" class="form-control form-control-sm" required id="username" name="username">
                    </div>
                    <div class="form-group col-6">
                        <label for="password">Clave</label>
                        <input type="text" class="form-control form-control-sm" required id="password" name="password">
                    </div>
                    <div class="form-group col-12">
                        <label for="file">Imagen</label>
                        <input type="file" class="form-control form-control-sm" required id="file" name="file">
                    </div>
                    <div class="form-group col-8">
                        <label for="permission">Permiso</label>
                        <select class="form-control form-control-sm" name="permission" required id="permission">
                            {% for p in permission %}
                                <option value="{{p.pk}}">{{p.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-4 mt-2">
                        <div class="form-check form-switch ps-0 mt-4">
                            <input class="form-check-input ms-0" type="checkbox" id="state" name="state" checked="">
                            <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="state">Acceso</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="pk" id="pk" value="0">
                <button type="button" class="btn btn-white btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-dark btn-sm" id="buttonSave">Guardar</button>
            </div>
        </form>
      </div>
    </div>
  </div>

{% include 'includes/scripts.html' %}

<script>
    
    if (document.getElementById('client-list')) {
      const dataTableSearch = new simpleDatatables.DataTable("#client-list", {
        searchable: true,
        fixedHeight: false,
        perPage: 2
      });

      document.querySelectorAll(".export").forEach(function(el) {
        el.addEventListener("click", function(e) {
          var type = el.dataset.type;

          var data = {
            type: type,
            filename: "soft-ui-" + type,
          };

          if (type === "csv") {
            data.columnDelimiter = "|";
          }

          dataTableSearch.export(data);
        });
      });
    };
    function activeAlert(pk_user){
        Swal.fire({
        title: 'Eliminar Usuario?',
        text: "!Esta seguro de eliminar este usuario!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'si, Eliminar!',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.isConfirmed){
          window.location.href = "/delete-user?pk="+pk_user;
        }
      })
    }
    modalCalendarClick = new bootstrap.Modal(document.getElementById('userAdd'));
    function viewModal(pk_user, name, lastname, phone, email, username, permission, state, edit=true){
        document.getElementById("pk").value = pk_user;
        document.getElementById("name").value = name;
        document.getElementById("lastname").value = lastname;
        document.getElementById("phone").value = phone;
        document.getElementById("email").value = email;
        document.getElementById("username").value = username;
        document.getElementById("permission").value = permission;

        if (state == "True"){
            $("#state").prop("checked", true);
        }else{
            $("#state").prop("checked", false);
        }
        if (edit){
            document.getElementById("buttonSave").classList.remove('d-none');
            document.getElementById("buttonSave").textContent = "Modificar";
            document.getElementById("password").required = false;
            document.getElementById("file").required = false;
        }else{
            document.getElementById("buttonSave").classList.add('d-none');
        }
        modalCalendarClick.show();
    }
    function clearModal(){
        document.getElementById("frm").reset();
        document.getElementById("pk").value = "0";
        document.getElementById("buttonSave").classList.add('d-none');
        document.getElementById("buttonSave").textContent = "Guardar";
        document.getElementById("password").required = true;
        document.getElementById("file").required = true;
    }

    function activeProcess(){
      $.ajax({
          url: '/get/booking',
          type: 'POST',
          data:{},
          headers: {"X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()},
          success: function(json) {
            console.log(json);
          },
          error: function(error) {
            console.log("Ocurrio un error");
          }
      });
    }
  </script>


{% endblock content %}
  
<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}