
  <!--   Core JS Files   -->
  <script src="static/assets/js/core/popper.min.js" ></script>
  <script src="static/assets/js/core/bootstrap.min.js" ></script>
  <script src="static/assets/js/plugins/perfect-scrollbar.min.js" ></script>
  <script src="static/assets/js/plugins/smooth-scrollbar.min.js" ></script>
  <script src="static/assets/js/plugins/choices.min.js"></script>
  <script src="static/assets/js/plugins/quill.min.js"></script>
  <script src="static/assets/js/plugins/flatpickr.min.js"></script>
  <script src="static/assets/js/plugins/dropzone.min.js"></script>
  <script src="static/assets/js/plugins/datatables.js"></script>
  <!-- <script src="static/assets/js/plugins/multistep-form.js"></script> -->
  <script src="static/assets/js/plugins/sweetalert.min.js"></script>
  <!-- Kanban scripts -->
  <script src="static/assets/js/plugins/dragula/dragula.min.js"></script>
  <script src="static/assets/js/plugins/jkanban/jkanban.js"></script>
  <script src="static/assets/js/plugins/chartjs.min.js"></script>
  <script src="static/assets/js/plugins/countup.min.js"></script>

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  function showToastSuccess(title, description, _date=""){
    $("#successToastTitle").text("");
    $("#successToastTitle").append(title);
    $("#successToastDate").text("");
    $("#successToastDate").append(_date);
    $("#successToastDescription").text("");
    $("#successToastDescription").append(description);
    $("#successToastButton").trigger("click");
  }
  function showToastInfo(title, description, _date=""){
    $("#infoToastTitle").text("");
    $("#infoToastTitle").append(title);
    $("#infoToastDate").text("");
    $("#infoToastDate").append(_date);
    $("#infoToastDescription").text("");
    $("#infoToastDescription").append(description);
    $("#infoToast").trigger("click");
  }
  function showToastDanger(title, description, _date=""){
    $("#dangerToastTitle").text("");
    $("#dangerToastTitle").append(title);
    $("#dangerToastDate").text("");
    $("#dangerToastDate").append(_date);
    $("#dangerToastDescription").text("");
    $("#dangerToastDescription").append(description);
    $("#dangerToastButton").trigger("click");
  }
  function showToastWarning(title, description, _date=""){
    $("#warningToastTitle").text("");
    $("#warningToastTitle").append(title);
    $("#warningToastDate").text("");
    $("#warningToastDate").append(_date);
    $("#warningToastDescription").text("");
    $("#warningToastDescription").append(description);
    $("#warningToastButton").trigger("click");
  }
  </script>
  
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>